<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">モデル一覧</h2>
    </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-1">
      <%= link_to new_admin_car_path, class: "btn btn-light pull-right" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th class="bg-light" style="width: 10%">モデルID</th>
          <th class="bg-light" style="width: 45%">モデル</th>
          <th class="bg-light" style="width: 15%">税抜価格</th>
          <th class="bg-light" style="width: 15%">ジャンル</th>
          <th class="bg-light" style="width: 15%">販売ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td class="info">
              <%= car.id %>
            </td>
            <td class="text-left">
              <%= link_to admin_car_path(car), class: "btn-link" do %>
                <u class="text-dark"><%= car.name %></u>
              <% end %>
            </td>
            <td class="text-left">
              ¥<%= car.price.to_s(:delimited) %>
            </td>
            <td class="text-left">
              <%= car.genre.name %>
            </td>
            <td class="text-left">
              <% if car.is_active == true %>
                <p class="text-success mt-2">販売中</p>
              <% else %>
                <p class="text-secondary mt-2">>販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <%= paginate @cars, class: "text-center" %>
</div>