<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">来店予約一覧</h2>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th class="bg-light" style="width: 10%">予約ID</th>
          <th class="bg-light" style="width: 45%">氏名</th>
          <th class="bg-light" style="width: 15%">来店時間</th>
          <th class="bg-light" style="width: 15%">店舗名</th>
          <th class="bg-light" style="width: 15%">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @visits.each do |visit| %>
          <tr>
            <td class="info", style="width: 10%">
              <%= visit.id %>
            </td>
            <td class="text-left", style="width: 15%">
              <%= visit.name + (visit.name_kana) %>
            </td>
            <td class="text-left", style="width: 15%">
              <%= link_to admin_visit_path(visit), class: "btn-link" do %>
                <u class="text-dark"><%= visit.visit.strftime('%F-%X') %></u>
              <% end %>
            </td>
            <td class="text-left", style="width: 15%">
              <%= visit.dealer.name %>
            </td>
            <td class="text-left", style="width: 15%">
              <% if visit.visit_status == 0 %>
                <p class="text-success mt-2">来店待ち</p>
              <% elsif visit.visit_status == 1 %>
                <p class="text-danger mt-2">接客中</p>
              <% elsif visit.visit_status == 2 %>
                <p class="text-primary mt-2">キャンセル</p>
              <% else %>
                <p class="text-secondary mt-2">接客済み</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <%= paginate @visits, class: "text-center" %>
</div>