<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">来店予約詳細</h2>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-9 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="width: 25%">氏名(カナ)</td>
            <td><%= @visit.name %> (<%= @visit.name_kana %>)</td>
          </tr>
          <tr>
            <td style="width: 25%">来店時間</td>
            <td><%= @visit.visit %></td>
          </tr>
          <tr>
            <td style="width: 25%">店舗名</td>
            <td><%= @visit.dealer.address %></td>
          </tr>
          <tr>
            <td style="width: 25%">電話番号</td>
            <td><%= @visit.phone_number %></td>
          </tr>
          <tr>
            <td style="width: 25%">メールアドレス</td>
            <td><%= @visit.email %></td>
          </tr>
          <tr>
            <td style="width: 25%">ステータス</td>
            <td>
              <% if @visit.visit_status == '来店待ち' %>
                <p class="text-success mt-2">来店待ち</p>
              <% elsif @visit.visit_status == '接客中' %>
                <p class="text-danger mt-2">接客中</p>
              <% elsif @visit.visit_status == '接客済み' %>
                <p class="text-secondary mt-2">接客済み</p>
              <% else %>
                <p class="text-primary mt-2">キャンセル</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-sm-5 px-sm-0 mx-auto">
        <%= link_to "更新する", edit_admin_visit_path(@visit), class: "btn btn-success mt-3 mr-3" %>
      </div>
    </div>
  </div>
</div>