<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">問い合わせ詳細</h2>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="width: 10%">問合せID</td>
            <td><%= @contact.id %></td>
          </tr>
          <tr>
            <td style="width: 15%">氏名</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <td style="width: 10%">電話番号</td>
            <td><%= @contact.phone_number %></td>
          </tr>
            <td style="width: 15%">メールアドレス</td>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <td style="width: 20%">件名</td>
            <td><%= @contact.subject %></td>
          </tr>
          <tr>
            <td style="width: 30%">ステータス</td>
            <td><%= @contact.message %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>