<%= @contact.name %> 様 から問い合わせがありました。<br>
【電話番号】：<%= @contact.phone_number %><br>
【メールアドレス】：<%= @contact.email %><br>
【用件】：<%= @contact.subject %><br>
【お問い合わせ内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.message %></span>