<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light"><strong>モデル一覧</strong></h2>
    </div>
  </div>
  <div class="row">
    <p class="mx-auto text-center">
      お好きなモデルをご覧ください。<br>
      画像もしくはモデル名をクリックすると詳細情報を確認できます。
    </p>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th class="bg-light" style="width: 15%"></th>
          <th class="bg-light" style="width: 20%">モデル</th>
          <th class="bg-light" style="width: 25%">税込価格 (税抜価格)</th>
          <th class="bg-light" style="width: 20%">ボディタイプ</th>
          <th class="bg-light" style="width: 20%">販売ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td class="image">
              <%= link_to car_path(car), target: "_blank" do %>
                <%= attachment_image_tag car, :image, format: 'jpeg', width: "320", fallback: "no_image.jpg" %>
              <% end %>
            </td>
            <td class="text-left">
              <%= link_to car_path(car) do %>
                <u class="text-dark"><%= car.name %></u>
              <% end %>
            </td>
            <td class="text-left">
              ¥<%= ((car.price*@tax).to_i).to_s(:delimited) %>（<%= (car.price).to_s(:delimited) %>）円
            </td>
            <td class="text-left">
              <%= car.genre.name %>
            </td>
            <td class="text-left">
              <% if car.is_active == true %>
                <p class="text-success mt-2">販売中</p>
              <% else %>
                <p class="text-secondary mt-2">販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <%= paginate @cars, class: "text-center" %>
</div>