<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">見積り詳細</h2>
    </div>
  </div>
  <div class="row">
    <p class="mx-auto text-center">
      見積りメール送付ボタンをクリックすると、<br>
      ご自身のメールアドレスに見積りが送付されます。
    </p>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-3 mt-5">
       <div id="img_field">
        <%= attachment_image_tag @estimate.car, :image, format: 'jpeg', size: "300x230", fallback: "no_image.jpg" %>
      </div>
    </div>
    <div class="col-sm-5 offset-sm-1 px-sm-0">
      <div class="mt-3 pt-4">
        <div class="font-weight-bold">モデル名</div>
          <p><%= @estimate.car.name %></p>
        <div class="font-weight-bold">モデル説明</div>
          <p><%= @estimate.car.introduction %></p>
        <div class="font-weight-bold">ジャンル</div>
          <p><%= @estimate.car.genre.name %></p>
        <div class="font-weight-bold">税込価格(税抜価格)</div>
          <p><%= ((@estimate.car.price*@tax).to_i).to_s(:delimited) %>（<%= (@estimate.car.price).to_s(:delimited) %>）円</p>
        <div class="font-weight-bold">販売ステータス</div>
        <% if @estimate.car.is_active == true %>
          <strong><span class="text-success">販売中</span></strong>
        <% else %>
          <strong><span class="text-secondary">販売停止中</span></strong>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th class="bg-light" style="width: 30%">オプション名</th>
          <th class="bg-light" style="width: 40%">税込価格(税抜価格)</th>
          <th class="bg-light" style="width: 30%">販売ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @caroptions.each do |car_option| %>
          <tr>
            <td class="text-left", style="width: 30%">
              <%= car_option.name %>
            </td>
            <td class="text-left", style="width: 20%">
              ¥<%= ((car_option.price*@tax).to_i).to_s(:delimited) %>（<%= car_option.price.to_s(:delimited) %>）円
            </td>
            <td class="text-left", style="width: 30%">
              <% if car_option.is_active == true %>
                <p class="text-success mt-2">販売中</p>
              <% else %>
                <p class="text-secondary mt-2">販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center mb-5">
    <%= link_to "見積りメール送付", finish_estimates_path, class: "btn btn-success btn-md mt-2" %>
  </div>
</div>