<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">ブログ一覧</h2>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th class="bg-light" style="width: 5%"></th>
          <th class="bg-light" style="width: 40%">タイトル</th>
          <th class="bg-light" style="width: 40%">本文</th>
          <th class="bg-light" style="width: 15%">いいね</th>
      </thead>
      <tbody>
        <% @search_blogs.each do |blog| %>
          <tr>
            <td class="info">
              <%= attachment_image_tag blog, :image, format: 'jpeg', size: "300x230", fallback: "no_image.jpg" %>
            </td>
            <td class="text-left">
              <%= link_to blog_path(blog), class: "btn-link" do %>
                <u class="text-dark"><%= blog.title %></u>
              <% end %>
            </td>
            <td class="text-left">
              <%= blog.body.truncate(40) %>
            </td>
            <td class="text-left" id="favorites_buttons_<%= blog.id %>">
              <%= render partial: 'customer/blogs/favorite', locals: { blog: blog} %>
            </td>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @blogs, class: "text-center" %>
</div>