<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">来店予約確認</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-3">
      <div class="font-weight-bold" style="width: 30%;">ディーラー</div>
        <p><%= @visit.dealer.address %></p>
      <div class="font-weight-bold">氏名（姓名）</div>
        <p><%= @visit.name %></p>
      <div class="font-weight-bold">氏名フリガナ（セイメイ）</div>
        <p><%= @visit.name_kana %></p>
      <div class="font-weight-bold">電話番号</div>
        <p><%= @visit.phone_number %></p>
      <div class="font-weight-bold">メールアドレス</div>
        <p><%= @visit.email %></p>
      <div class="font-weight-bold">来店日時</div>
        <p><%= @visit.visit %></p>
      <%= form_with model: @visit, local: true do |f| %>
        <%= f.hidden_field :dealer_id %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :name_kana %>
        <%= f.hidden_field :phone_number %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :visit %>
        <div class="text-center">
          <%= f.submit '送信', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
