<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">来店予約</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-3">
    <%= form_with model: @visit, local: true do |f| %>
      <div class="form-inline mb-2">
        <%= f.label :"ディーラー *", class:"col-sm-3" %>
        <%= f.collection_select(:dealer_id, Dealer.all, :id, :address, prompt: "-- 選択してください --", class:"col-sm-9") %>
      </div>
      <div class="form-inline mb-2">
        <%= f.label :"氏名（姓名） *", class:"col-sm-3" %>
        <%= f.text_field :name, class:"col-sm-3", placeholder: "令和　道子" %>
      </div>
      <div class="form-inline mb-2">
        <%= f.label :"氏名フリガナ（セイメイ）*", class:"col-sm-3" %>
        <%= f.text_field :name_kana, class:"col-sm-3", placeholder: "レイワ　ミチコ" %>
      </div>
      <div class="form-inline mb-2">
        <%= f.label :"電話番号 *", class:"col-sm-3" %>
        <%= f.text_field :phone_number, class:"col-sm-3", placeholder: "09012345678 ※ハイフンなし" %>
      </div>
      <div class="form-inline mb-2">
        <%= f.label :"メールアドレス", class:"col-sm-3" %>
        <%= f.text_field :email, class:"col-sm-3", placeholder: "sample@example.com" %>
      </div>
      <div class="form-inline mb-3">
        <%= f.label :"来店日時 *", class:"col-sm-3" %>
         <%= f.datetime_field :visit, class:"col-sm-3" %>
      </div>
      <div class="col-sm-5 px-sm-0 mx-auto">
        <p class="text-danger">* は入力必須項目です。</p>
      </div>
      <div class="col-sm-5 px-sm-0 mx-auto">
        <%= f.submit "情報確認へ進む", class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
