<div class="mb-2">
  <%= f.label :"ブログ画像", class:"col-sm-3" %>
  <%= f.attachment_field :image, class:"image col-sm-9" %>
</div>
<div class="mb-2">
  <%= f.label :"タイトル", class:"col-sm-3" %>
  <%= f.text_field :title, class:"col-sm-9", placeholder: "ここにタイトルを記述します" %>
</div>
<div class="mb-2">
  <%= f.label :"本文", class:"col-sm-3" %>
  <%= f.text_area :body, class:"col-sm-9", placeholder: "ここに本文を記述します", size: "40x20" %>
</div>