<header class="header bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xs display-4">
        <% if admin_signed_in? %>
          <logo><%= link_to "", admin_root_path, class: "fas fa-car text-body" %> Sengoku Cars</logo>
        <% else %>
          <logo><%= link_to "", root_path, class: "fas fa-car text-body" %> Sengoku Cars</logo>
        <% end %>
      </div>
      <nav class="col navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "Model", admin_cars_path, class: "text-body" %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "Genre", admin_genres_path, class: "text-body" %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "Dealer", admin_dealers_path, class: "text-body" %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "Contact", admin_contacts_path, class: "text-body" %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "LogOut", destroy_admin_session_path, method: :delete, class: "text-body" %>
              </div>
              <div class="col-md-1 text-right d-flex align-items-center">
                <!--検索ボックスを実装する-->
              </div>
            <% else %>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "Model", cars_path, class: "text-body" %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "Dealer", dealers_path, class: "text-body" %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <%= link_to "FAQ", faq_homes_path, class: "text-body" %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <% if customer_signed_in? %>
                  <%= link_to "Help", new_contact_path, class: "text-body" %>
                <% else %>
                  <%= link_to "SignUp", new_customer_registration_path, class: "text-body" %>
                <% end %>
              </div>
              <div class="col-xs-1 pr-2 text-right d-flex align-items-center">
                <% if customer_signed_in? %>
                  <%= link_to "LogOut", destroy_customer_session_path, method: :delete, class: "text-body" %>
                <% else %>
                  <%= link_to "Login", new_customer_session_path, class: "text-body" %>
                <% end %>
              </div>
              <div class="col-md-1 text-right d-flex align-items-center">
                <!--検索ボックスを実装する-->
              </div>
              <% end %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>